@import './resets';
@import './typography';
@import './variables';
@import 'remixicon/fonts/remixicon.css';

body {
	background-color: $primary-background;
	color: $primary-color;
}

h1 {
	margin: 0;
	cursor: pointer;
}

header {
	padding: 3em 1em;
	text-align: center;
	position: relative;
	max-width: 100%;

	h1 {
		font-size: 5rem;
		letter-spacing: 5px;
	}

	p {
		margin: 0;
		padding: 0;
		transition: color ease 250ms;
	}

	@media (max-width: 500px) {
		h1 {
			font-size: 3rem;
			margin-top: 0.75em;
		}
	}

	.links {
		display: flex;
		position: absolute;
		top: 0;
		right: 0;

		.link {
			margin: 1em;
			padding: 3px;

			&:last-of-type {
				margin-right: 2em;
			}

			&:hover,
			&:focus {
				cursor: pointer;
				color: $accent-color;
			}
		}
	}
}

.info-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 150;
	background-color: rgba(5, 102, 141, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-wrapper {
	background-color: $primary-background;
	max-width: 750px;
	padding: 2em;
	border-radius: 5px;
	margin: 1em;
	display: flex;
	flex-direction: column;

	@media (max-width: 600px) {
		max-width: 90%;
		margin: 1em;
		padding: 3em 2em 2em;
		max-height: 82%;

		.text-wrapper {
			overflow: scroll;
		}
	}


	.close-btn {
		margin: 0;
		align-self: flex-end;

		&:hover,
		&:focus {
			cursor: pointer;
			color: $accent-color;
			outline: none;
		}
	}
}

.accent {
	color: $accent-color;
	font-weight: bold;
}

.small {
	font-size: 0.75rem;
}

.center {
	text-align: center;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 1em 0;
	position: relative;
	transition: all ease 250ms;

	input {
		font-family: 'Montserrat', sans-serif;
		color: $primary-color;
		padding: 1.5em 4.5em 1.5em 1.5em;
		border-radius: 1.5em;
		outline: none;
		border: none;
		box-shadow: $box-shadow;
		transition: scale 250ms ease;
		transform: scale(1);

		&:hover,
		&:focus {
			transform: scale(1.05);
		}
	}
	button {
		position: absolute;
		left: calc(50% + 60px);
		z-index: 100;
		background: none;
		outline: none;
		border: none;
	}
	.search-glass {
		fill: $primary-color;
		height: 2.5em;
		width: auto;
		margin: 0.5em 0.5em 0.5em 0.6em;
		transition: fill ease 250ms;

		&:hover,
		:focus {
			cursor: pointer;
			fill: $accent-color;
		}
	}
}

.search-container.active {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(5, 102, 141, 0.3);
	box-shadow: $box-shadow;
}

.spacer {
	height: 88px;
}

.message {
	margin: 2em auto;
	text-align: center;
	max-width: 40ch;
	padding: 0 1em;
}

.pageNumbers {
	display: flex;
	justify-content: center;
	gap: 1.5em;

	.pg {
		font-size: 1.25rem;

		&:hover {
			cursor: pointer;
		}
	}
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 2em;
	justify-items: stretch;
	max-width: 90%;
	margin: 3em auto;
	min-height: 0;

	@media (min-width: 600px) {
		max-width: 75%;
		min-height: calc(100vh - 550px);
	}
}

.card {
	justify-self: center;
	width: 260px;
	height: 380px;
	background-color: white;
	box-shadow: $box-shadow;
	border-radius: 5px;
	padding: 1.5em 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;

	h2 {
		margin: 0;
		padding-top: 0.6em;
		text-align: center;
		text-transform: uppercase;
	}

	.card-btns {
		margin: 0 1em 2.5em;
	}

	.denom {
		position: absolute;
		font-size: 0.75rem;
		color: $accent-color;
		font-weight: bold;
		letter-spacing: 1px;
		top: -8px;
		right: 8px;
	}

	.updated {
		font-size: 0.75rem;
		position: absolute;
		bottom: 0;
	}
}

.btn {
	text-decoration: none;
	color: #fff;
	padding: 0.5em 1.25em;
	background: linear-gradient(
		270deg,
		rgba(5, 102, 141, 0.7290266448376226) 0%,
		rgba(5, 102, 141, 1) 100%
	);
	border-radius: 1em;
	margin: 10px;
	position: relative;
	transition: all 250ms ease;

	&:hover,
	&:focus {
		box-shadow: 0px 0px 3px 1px rgba(216, 49, 91, 0.6);
		color: $accent-color;
		outline: none;
	}

	&.disabled {
		background: gray;
		cursor: not-allowed;

		&:hover {
			color: #fff;
			box-shadow: none;
		}
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 0 2em;
	align-items: center;

	@media (max-width: 600px) {
		flex-direction: column;
		align-items: center;

		.version {
			order: 2;
		}

		.disclaimer {
			order: 1;
		}

		.contact {
			order: 3;
			margin-bottom: 2em;
		}
	}
}
