@import './resets';
@import './typography';
@import './variables';
@import 'remixicon/fonts/remixicon.css';

html {
	overflow-y: scroll;
}

html,
body {
	background-color: $primary-background;
	color: $primary-color;
}

h1 {
	margin: 0;
	cursor: pointer;
}

header {
	padding: 5em 1em 4em;
	text-align: center;
	position: relative;
	max-width: 100%;

	h1 {
		font-size: 5rem;
		letter-spacing: 5px;
	}

	p {
		margin: 0;
		padding: 0;
		transition: color ease 250ms;
	}

	@media (max-width: 500px) {
		h1 {
			font-size: 3.5rem;
			margin-top: 0.75em;
		}
	}

	@media (max-width: 300px) {
		h1 {
			font-size: 2rem;
			margin-top: 1.5em;
		}
	}

	.links {
		display: flex;
		position: absolute;
		top: 0;
		right: 0;

		.link {
			margin: 1em;
			padding: 3px;

			&:last-of-type {
				margin-right: 2em;
			}

			&:hover,
			&:focus {
				cursor: pointer;
				color: $accent-color;
			}
		}

		@media (max-width: 300px){
			flex-direction: column;

			.link {
				margin: 0 1em;

				&:first-of-type {
					margin-top: .5em;
				}
			}
		}
	}
}

.info-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1500;
	background-color: rgba(239, 244, 251, 0.8);
	display: grid;
	align-items: center;
}

.info-wrapper {
	grid-area: 1/1;
	justify-self: center;
	background-color: white;
	max-width: 750px;
	max-height: 85vh;
	padding: 1em 2em 2em;
	border-radius: 5px;
	margin: 2em;
	display: flex;
	flex-direction: column;
	z-index: 1001;
	box-shadow: $box-shadow;

	@media (max-width: 600px) {
		max-width: 90%;
		margin: 1em;
		padding: 1em 1em 2em;
	}

	.text-wrapper {
		overflow-y: auto;
		padding: 0 2em;
		margin-top: 2em;
	}

	.close-btn {
		margin: 10px 0 0;
		align-self: flex-end;
		justify-content: center;
		padding-bottom: 7px;

		&:hover,
		&:focus {
			cursor: pointer;
			color: $accent-color;
			outline: none;
		}
	}

	.info-title {
		position: absolute;
		margin: 0 0 0 1em;
		padding: 7px 7px 7px 0;
		font-size: 2rem;
	}
}

.visible {
	opacity: 1;
}

.accent {
	color: $accent-color;
	font-weight: bold;
}

.small {
	font-size: 0.75rem;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 1em 0;
	position: relative;
	transition: all ease 250ms;

	input {
		font-family: 'Montserrat', sans-serif;
		color: $primary-color;
		padding: 1.5em 4.5em 1.5em 1.5em;
		margin: 0 1em;
		border-radius: 5px;
		outline: none;
		border: none;
		box-shadow: $box-shadow;
		transition: scale 250ms ease;
		transform: scale(1);

		&:hover,
		&:focus {
			transform: scale(1.05);
		}

		@media (max-width: 300px){
			width: 80%;
		}
	}

	button {
		position: absolute;
		left: calc(50% + 60px);
		z-index: 100;
		background: none;
		outline: none;
		border: none;
	}
	.search-glass {
		fill: $primary-color;
		height: 2.5em;
		width: auto;
		margin: 0.5em 0.5em 0.5em 0.6em;
		transition: fill ease 250ms;

		&:hover,
		:focus {
			cursor: pointer;
			fill: $accent-color;
		}

		@media (max-width: 250px){
			display: none;
		}
	}
}

.beta {
	text-align: center;
	font-weight: bold;
	transition: color ease 250ms;
	padding: 0 1em;

	&:hover {
		cursor: pointer;
		color: $accent-color;
	}
}

.message {
	margin: 2em auto;
	text-align: center;
	max-width: 40ch;
	padding: 0 1em;
}

.pageNumbers {
	display: flex;
	justify-content: center;
	gap: 2em;
	margin: 2em 0 1em;

	&:first-of-type {
		margin: 0 0 2em;
	}

	.pg {
		font-size: 1.25rem;

		&:hover {
			cursor: pointer;
		}
	}
}

.filter {

	display: grid;
	place-items: center;
	position: relative;

	.btn {

		min-width: 125px;
	}

	.btn-open {
		background-color: $accent-color;
	}

	.filter-menu {
		@keyframes growDown {
			0% {
				transform: scaleY(0)
			}
			
			100% {
				transform: scaleY(1)
			}
		}
		
		width: 125px;
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 2.5em;
		background-color: #FFF;
		border-radius: 0 0 5px 5px;
		padding: 1em 0 0;
		box-shadow: $box-shadow;
		z-index: 2000;
		margin-bottom: 2em;
		animation: growDown .25s 1 forwards;
		transform-origin: top center;

		label {
			margin-bottom: 1em;
			padding-left: 1.5em;
		}
	}

	.closed {
		z-index: -3000;
		display: none;
	}
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	justify-items: stretch;
	width: 80%;
	align-items: center;
	margin: .5em auto;
	min-height: 0;
	gap: 2em;

	@media (min-width: 600px) {
		max-width: 80%;
		min-height: calc(100vh - 580px);
	}

	@media (max-width: 400px){
		grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
	}
}

.card {
	justify-self: center;
	height: 90%;
	width: 75%;
	background-color: white;
	box-shadow: $box-shadow;
	border-radius: 5px;
	padding: 1.5em 2em 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;

	h2 {
		margin: 0;
		padding-top: 0.6em;
		text-align: center;
		text-transform: uppercase;
		max-height: 25%;
		vertical-align: center;
	}

	.contact {
		max-height: 50%;
		padding-top: 2em;
		
		p {
			margin: 0 0 .75em;

			&:last-of-type {
				margin: 0;
			}
		}
	}

	.card-btns {
		display: flex;
		align-items: center;
		margin-top: 1em;

		@media (max-width: 300px){
			flex-direction: column;
		}
	}

	.denom {
		position: absolute;
		font-size: 0.75rem;
		color: $accent-color;
		font-weight: bold;
		letter-spacing: 1px;
		top: -8px;
		right: 8px;

		&:hover {
			cursor: pointer;
		}
	}

	.info-pane {

		min-height: 96px;

		.distance {
			margin: 0;
			font-size: 0.75rem;
			text-align: center;
		}

	}
	

	@media (max-width: 300px){
		h2 {
			font-size: 1rem;
		}

		p {
			font-size: .85rem;
		}
	}
}


.btn {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	padding: 0.5em 1.25em;
	background-color: $primary-color;
	border-radius: 2px;
	border: none;
	margin: .75em;
	position: relative;
	transition: all 250ms ease;
	text-align: center;
	box-shadow: rgba(5,102,141, 0.25) 0px 0.0625em 0.0625em, rgba(5,102,141, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

	&:hover,
	&:focus {
		
		background-color: $accent-color;
		outline: none;
	}

	&:visited {
		background-color: $primary-color;
	}

	&.disabled {
		background: gray;
		cursor: not-allowed;

		&:hover {
			color: #fff;
			box-shadow: none;
		}
	}

	@media (max-width: 300px){
		width: 65px;
		text-align: center;
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 0 2em;
	align-items: center;
	gap: 2em;
	margin-bottom: 10px;

	@media (max-width: 600px) {
		flex-direction: column;
		align-items: center;

		.version {
			order: 2;
		}

		.disclaimer {
			order: 1;
		}

		.contact {
			order: 3;
			margin-bottom: 2em;
		}
	}

	& > * {
		margin: 0 0.5em;
	}
}
